Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
dataList = [4,8,15,16,23,42]

In [3]:
pdSer = pd.Series(dataList)

In [4]:
print(pdSer)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
l2 = ['python', 'SQL', 'Flask', 'Web API', 'Pandas', 'numpy', 'matplotlib', 'seaborn', 'Plotly', 'Bokeh']

In [6]:
pd.Series(l2)

0        python
1           SQL
2         Flask
3       Web API
4        Pandas
5         numpy
6    matplotlib
7       seaborn
8        Plotly
9         Bokeh
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Name, Age, Gender

Alice, 25, female

Bob, 30, male

Claire, 27, female



print the dataframe.

In [7]:
data2 = [['Alice', 25, 'female'], ['Bob', 30, 'male'], ['Claire', 27, 'female']]

In [8]:
df = pd.DataFrame(data2, columns=['Name', 'Age', 'Gender'])

In [9]:
df

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

==> DataFrame in pandas is simply the entire table while series in pandas is a single row or column of that data frame.

In [10]:
#example of data frame
df

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In [11]:
#example of series
df['Name']

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [12]:
df2 = pd.read_csv('http://bit.ly/imdbratings')

In [13]:
df2.head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [14]:
#dropping columns
colDrop = df2.drop('actors_list', axis=1)

In [15]:
colDrop

,star_rating,title,content_rating,genre,duration
0,9.3,The Shawshank Redemption,R,Crime,142
1,9.2,The Godfather,R,Crime,175
2,9.1,The Godfather: Part II,R,Crime,200
3,9.0,The Dark Knight,PG-13,Action,152
4,8.9,Pulp Fiction,R,Crime,154
...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116
975,7.4,Back to the Future Part III,PG,Adventure,118
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138
977,7.4,Poltergeist,PG,Horror,114
978,7.4,Wall Street,R,Crime,126

In [20]:
#dropping multiple columns
multiColCrop = df2.drop(['actors_list', 'duration', 'content_rating', 'genre'], axis=1)

In [21]:
multiColCrop

     star_rating                                            title
0            9.3                         The Shawshank Redemption
1            9.2                                    The Godfather
2            9.1                           The Godfather: Part II
3            9.0                                  The Dark Knight
4            8.9                                     Pulp Fiction
..           ...                                              ...
974          7.4                                          Tootsie
975          7.4                      Back to the Future Part III
976          7.4  Master and Commander: The Far Side of the World
977          7.4                                      Poltergeist
978          7.4                                      Wall Street

[979 rows x 2 columns]

In [22]:
#dropping rows in dataframe
rowDrop = df2.drop(3,axis=0)

In [23]:
rowDrop.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."

In [24]:
#dropping multiple rows
multiRowDrop = df2.drop([2,3,4,5], axis=0)

In [26]:
multiRowDrop.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."

In [27]:
"""renaming a single/multiple column(s)"""
df2.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [28]:
df_renamed = df2.rename(columns={'duration':'time', 'star_rating':'imdb_rating'})

In [29]:
df_renamed.head()

,imdb_rating,title,content_rating,genre,time,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [30]:
"""select columns with specific data-types"""
int_data = df2.select_dtypes('int')

In [31]:
int_data.head()

   duration
0       142
1       175
2       200
3       152
4       154

In [32]:
float_data = df2.select_dtypes('float')

In [33]:
float_data.head()

   star_rating
0          9.3
1          9.2
2          9.1
3          9.0
4          8.9

In [35]:
"""Slicing the dataset"""
df2.iloc[:5,1] 
# :5 -> denotes first 5 rows
# ,1 -> denotes 2nd column

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
Name: title, dtype: object

In [38]:
df2.loc[:5,['title','star_rating']]
# iloc -> used to locate data using numbers or integers
# loc -> used to locate data but we can use the column-name directly

                      title  star_rating
0  The Shawshank Redemption          9.3
1             The Godfather          9.2
2    The Godfather: Part II          9.1
3           The Dark Knight          9.0
4              Pulp Fiction          8.9
5              12 Angry Men          8.9

In [44]:
"""Handle duplicates"""

#let's first add duplicate to the dataframe

df_dup = df2.copy()
dupRow = df_dup[:1] #copies entire first row
df_dup = df_dup.append(dupRow, ignore_index=True)
df_dup

C:\Users\Ashish Dalal\AppData\Local\Temp\ipykernel_18096\3826510116.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_dup = df_dup.append(dupRow, ignore_index=True)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."
979,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [46]:
df_dup[df_dup.duplicated()]

,star_rating,title,content_rating,genre,duration,actors_list
979,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [47]:
df_dup.drop_duplicates()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [51]:
"""select specific values in the column"""
df2[df2['star_rating'] >= 9.0]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

In [53]:
df2[df2['duration'] <= 90]

,star_rating,title,content_rating,genre,duration,actors_list
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
35,8.6,Modern Times,G,Comedy,87,"[u'Charles Chaplin', u'Paulette Goddard', u'He..."
55,8.5,The Lion King,G,Animation,89,"[u'Matthew Broderick', u'Jeremy Irons', u'Jame..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
61,8.5,Grave of the Fireflies,UNRATED,Animation,89,"[u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake..."
...,...,...,...,...,...,...
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
948,7.4,Frances Ha,R,Comedy,86,"[u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."

In [55]:
df2[df2['genre'] == 'Comedy' or df2['genre'] == 'Crime' or df2['genre'] == 'Drama'] #does not work for selecting multiple values

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [56]:
df2[df2['genre'].isin(['Comedy', 'Drama'])]

,star_rating,title,content_rating,genre,duration,actors_list
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
...,...,...,...,...,...,...
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

==> series, dataframe and panel are all value mutable in nature. However, series is size immutable in nature (ie. we can't change the size of series)

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [57]:
stuName = pd.Series(['Janhvi', 'Sakshi', 'Soumya', 'Aditi'], name='Name')

In [59]:
stuRollNo = pd.Series([2201,2202,2203,2204], name='Roll No')

In [61]:
stuMarks = pd.Series([85,82,70,85], name='Marks')

In [63]:
df3 = pd.merge(stuName, stuRollNo, right_index=True, left_index=True)

In [64]:
df3

     Name  Roll No
0  Janhvi     2201
1  Sakshi     2202
2  Soumya     2203
3   Aditi     2204

In [65]:
df3 = df3.join(stuMarks)

In [66]:
df3

     Name  Roll No  Marks
0  Janhvi     2201     85
1  Sakshi     2202     82
2  Soumya     2203     70
3   Aditi     2204     85